
  @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');



*{
    margin: 0;
    box-sizing: border-box;
    
}
.main-container{
    height: 100%;
    background: linear-gradient(to right,rgb(125, 147, 220), rgb(53, 24, 43));
    /* background-image: url(https://clipartcraft.com/images/sparkles-transparent-cute-5.png); */
    background-color: rgb(73, 17, 126);
    filter: drop-shadow(100%);
}
.navbar{
    position: sticky;
    background-color: rgb(244, 252, 249);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5vw 5%;
    z-index: 1000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.items{
    display: grid;
    gap: 3vw;
    grid-template-columns: auto auto auto auto;   
}
.item{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: rebeccapurple;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.item:hover{
    color: rgb(192, 31, 171);
}
.icons{
    display: grid;
    gap: 1.5vw;
    grid-template-columns: auto auto auto auto;
    
}
.icon{
    color: black;  
}
.icon:hover{
    color: rgb(192, 31, 171);
}

#menu-bar{
    display: none;
}

.logo{
    font-size: 1.5rem;
    font-family: 'Anton', sans-serif;
    color:black;
    text-decoration: solid;

}
.logo span{
    font-size: 1.5rem;
    color: blue;
}
.side-bar{
    display: none;
}
.side-bar{
    z-index: 1001;
    transform: translate(-100%);
}
/* main card style */
div.polaroid {
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-top: 0;
    margin-left: 5%;
    margin-right: auto;
    /* transform: rotate(15deg); */
    background-color: rgb(148, 148, 157);
    
  }

  div.backGround{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}

  div.container {
    width: 52%;
    margin-top: 35px;
    margin-right: 7%;
    margin-left: auto;
    padding: 10px;
    font-size: larger;
    color: azure;
    font-family: 'Roboto', sans-serif;
  }

  /* content start */
  *{
    margin: 0;
    padding: 0;
}
.main_body{
    background: linear-gradient(to right,rgb(125, 147, 220), rgb(53, 24, 43));
}
.main_body p{
    margin: 0px;
}
.head{
    background-color: rgb(15, 15, 15);
    text-align: center;
    border-radius: 10px;
    margin: 0px;
    padding: 20px;
}
#heading{
    font-size: 40px;
    font-weight: bold;
    color: blue;
}
#subheading{
    font-size: 15px;
    font-weight: lighter;
    color: rebeccapurple;
}
.main{
    display: grid;
    
        grid-template-columns: 1fr 1fr 1fr 1fr;
       justify-items: center;
}
.scene{
    
    width: 200px;
    height: 260px;
    margin: 40px 0;
    perspective: 600px;
}
.card{
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s ;
}
.card.is-flipped{
    transform: translateX(-100%) rotateY(-180deg);
}
.card_face{
    position: absolute;
    width: 100%;
    height: 100%;
    /* line-height: 260px; */
    color: rgb(27, 23, 26);
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    padding-top: 57px;
    backface-visibility: hidden;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}
.card_face--front{
    line-height: 135px;
    background: rgb(102, 195, 224);
}
.card_face--back{
    background: slateblue;
    transform: rotateY(180deg);
}
@media screen and (max-width: 820px) and (min-width: 457px) {
    .main{
       
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 457px) {
    .main{
       
        grid-template-columns: 1fr ;
    }
    #heading{
        font-size: 35px;
    }
    #subheading{
    font-size: 15px;
    }
    .scene{
        margin: 10px 0;
    }
}
@media screen and (max-width: 492px) {
    .head{
        padding: 20px;
    }
}

/* content end */






















/* 
  @media screen and ((min-width:804px )and (max-width:732px)){
    div.polaroid {
        width: 50%;}

  } */






@media screen and (max-width:820px) {
    .items{
        display: none;
    }
    .icons{
        display: none;
    }
    #menu-bar{
        display: inline-block;
        cursor: pointer;
    }



    .side-bar{
        display: inline;
        height: 100%;
        position: fixed;
        left: 0;
        width: 230px;
        background-color: rgb(18, 79, 79);
        z-index: 2000;
        transform: translate(0%);
        transition: transform 0.3s linear 0s;
      z-index: 2000;

    }
    .show_sidebar{
        transform: translate(-100%) !important;
    }
    .menu{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .menu li{
        color: aliceblue;
        /* border-bottom: 1px solid rgba(239, 199, 199, 0.1); */
    }
    .menu li a{
        color: aliceblue;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        padding: 20px;
        
    }
     .side-icons{
        list-style: none;
        padding: 5px 15px;
        background: rgb(250, 140, 140);
        display:flex;
        justify-content: space-between;
    }
    .side-icons li{
        
        width: 35px;
        height: 35px;           
    }
   
/* main card start */
        div.backGround{
            padding-top: 50px;
            padding-bottom: 50px;
            display: block;
        }
        div.polaroid {
            width: 40%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            text-align: center;
            margin-top: 0;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
            /* transform: rotate(15deg); */
            background-color: rgb(148, 148, 157);
            
          }
          div.container {
            width: 62%;
          
            margin-top: 0;
            margin-right: auto;
            margin-left: auto;
            padding: 10px;
          }
/* main card end */
}
@media screen and (max-width: 457px) {
    div.polaroid {
        width: 60%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        /* transform: rotate(15deg); */
        background-color: rgb(148, 148, 157);
        
      }
      div.container {
        width: 72%;
  
        margin-top: 0;
        margin-right: auto;
        margin-left: auto;
        padding: 10px;
      }

}